@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    text-decoration: none;
    text-decoration-color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    list-style: none;
    color: black;
}


.flex{
    display: flex;
}

.dashboard_logo img{
    height: 50px;
    width: 50px;
    margin: 2vh; 
    border-radius: 10px;
}

.dashboard_logo{
    margin: 0.5vh 0.5vh;
}
.dashboard_hero{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-style: normal;
    font-size: 1.8rem;
    margin-left: 1rem;
}

.dashboard_title{
    color: white;
    margin-right: 3.5rem;
}

.sidebar_section-user, .sidebar_section-support{
    margin: 4rem 3.5rem 5rem;
}

.sidebar_link{
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.sidebar_user-item{
    margin-top: 1rem;
}

.uil{
    margin-right: 1rem;
    color: white;
}

.sidebar_section{
    background-color: #57a617;
    height: 100vh;
    width: 20vw;
    border-radius: 0 0px 15px 0;
    position: fixed;
}


.profile_pic-upper{
    width: 50px;
}

.profile_pic-lower{
    width: 70px;
}

.search_icon, .bell_icon{
    color: black;
    font-size: 1.2rem;
}

.header_section-upper{
    gap: 10rem;
    align-items: center;
}


.header_section{
    padding: 1rem 3rem;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
    width: 79vw;
    z-index: 4;
    position: relative;
}

.header_search
{
    background-color: rgb(183, 247, 167);
    border: none;
    width: 35vw;
    height: 28px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.header_search:hover{
    background-color: white;
    color: #6bc220;
    border: 1px solid #6bc220;
}

.search_icon{
    transition: 0.3s ease;
}

.search_icon:hover{
    color: #6bc220;
}

.bell_icon{
    font-size: 1.6rem;
}

.profile_settings{
    align-items: center;
    margin-left: 3rem;
}

.profile_user{
    margin-left: 1.2rem;
    font-size: 1.2rem;
}


.header_section-lower{
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    align-items: center;
}

.profile_pic-lower{
    margin-right: 2rem;
}

.profile_user-info{
    margin-top: 0.6rem;
}

.saludo_user{
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.user_name{
    font-size: 1.3rem;
}

.header_btn{
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #6bc220;
    margin: 0 0.8rem;
    color: white;
    font-weight: 800;
    transition: 0.3s ease;
}

.header_btn:hover{
    background-color: white;
    color: #6bc220;
    transform: scale(1.1);
}

.search_bar{
    transition: 0.3s ease;
}

.search_bar:hover{
    transform: scale(1.1);
    color: #6bc220;
}

.profile_buttons{
    margin-left: 20rem;
}


.card_background{
    background-color: #6bc220;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 200px;
    transition: 0.3s ease;
}

.card_background:hover{
    transform: scale(1.02);
    background-color: #aaea6c;
}

.card_template{
    background-color: white;
    margin-left: 0.5rem;
    border-radius: 0 10px 10px 0;
    height: 200px;
    padding: 1.5rem 1.5rem ;
}


.card_template>*{
    margin-bottom: 1rem;
}

.card_title{
    font-weight: 800;
    font-size: 1.1rem;
}

.card_description{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(92, 92, 92);
    padding-right:2rem ;
}


.card_icons{
    justify-content: flex-end;
    padding-top: 1rem;
    gap: 1rem;
    
}


.card_icon:hover{
    color: #6bc220;
}
.card_icon{
    color: black;
    font-size: 1.4rem;
    transition: 0.3s ease;
}


.tasks_cards{
    display: grid;
    grid-template-columns: 370px 370px ;
    margin-top: 2rem;
    gap: 1.8rem;
}

.home_section{
    background-color: #f6ffee;
    padding: 1rem;
    z-index: -1;
}

.section_title{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.main_section{
    margin-left: 20vw;
}

.section_social{
    padding: 0 2.5rem;
}

.announcement_title{
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.announcement_description{
    font-weight: 300;
    font-size: 0.7rem;
    color: rgb(112, 112, 112);
}

.announcements_card{
    background-color: white;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

hr{
    margin: 1rem 0;
}
